# egg-info

/src/pystoms.egg-info/
# pycache folders

__pycache__

# local doc build
docs_src/_build/

# jupyter checkpoints anywhere

.ipynb_checkpoints

# configuration file for evaluation script

/scripts/evaluation/evaluation_variables.py

# vscode folder
.vscode

# model binaries
*.pkl

# mypy type checker
.mypy_cache/

# pytest
.pytest_cache/

# output of dvc plots
dvc_plots/