# egg-info, toml is created when pip building

/src/pystoms.egg-info/
*.toml
# pycache folders

__pycache__

# doc build
docs/build/

# jupyter checkpoints anywhere

.ipynb_checkpoints

# configuration file for evaluation script

/scripts/evaluation/evaluation_variables.py

# vscode folder
.vscode

# model binaries
*.pkl

# mypy type checker
.mypy_cache/

# pytest
.pytest_cache/