# egg-info, toml is created when pip building

/src/pystoms.egg-info/
*.toml
# pycache folders

__pycache__

# local doc build
docs_src/_build/

# jupyter checkpoints anywhere

.ipynb_checkpoints

# configuration file for evaluation script

/scripts/evaluation/evaluation_variables.py
